In [33]:
import pandas as pd
pd.set_option('display.max_columns', None)

# Pair EDA

Para realizar estos ejercicios deberéis usar el conjunto de datos de world-data-2023-part1.csv.

En este fichero encontraremos la siguiente información:

Country: Nombre del país.

Density\n(P/Km2): Densidad de población medida en personas por kilómetro cuadrado.

Abbreviation: Abreviatura o código que representa al país.

Agricultural Land( %): Porcentaje del área total de tierra utilizada con fines agrícolas.

Land Area(Km2): Área total de tierra del país en kilómetros cuadrados.

Armed Forces size: Tamaño de las fuerzas armadas en el país.

Birth Rate: Número de nacimientos por cada 1,000 habitantes por año.

Calling Code: Código internacional de llamada para el país.

Capital/Major City: Nombre de la capital o ciudad principal.

Co2-Emissions: Emisiones de dióxido de carbono en toneladas.

CPI: Índice de Precios al Consumidor (IPC), una medida de la inflación y el poder adquisitivo.

CPI Change (%): Cambio porcentual en el Índice de Precios al Consumidor en comparación con el año anterior.

Currency-Code: Código de moneda utilizado en el país.

Fertility Rate: Número promedio de hijos nacidos de una mujer durante su vida.

Forested Area (%): Porcentaje del área total cubierta por bosques.

Gasoline Price: Precio de la gasolina por litro en moneda local.

---

In [10]:
df = pd.read_csv("Data_Exercises/world-data-2023_part1.csv", index_col = 0)

## Ejercicios de exploración del conjunto de datos

1. Muestra las primeras 5 filas del conjunto de datos.

In [11]:
df.head(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

2. Muestra las últimas 5 filas del conjunto de datos.

In [12]:
df.tail(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

3. Muestra una muestra aleatoria de 5 filas del conjunto de datos.

In [14]:
df.sample(5)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
176,Tonga,147,TO,45.80%,747,NaN,24.30,676.0,Nuku����,128,121.09,7.40%,TOP,3.56,12.50%,NaN
153,Serbia,100,RS,39.30%,"77,474","32,000",9.20,381.0,Belgrade,"45,221",144,1.80%,RSD,1.49,31.10%,$1.16
59,Finland,18,FI,7.50%,"338,145","25,000",8.60,358.0,Helsinki,"45,871",112.33,1.00%,EUR,1.41,73.10%,$1.45
108,Mauritania,5,MR,38.50%,"1,030,700","21,000",33.69,222.0,Nouakchott,"2,739",135.02,2.30%,MRU,4.56,0.20%,$1.13
180,Turkmenistan,13,TM,72.00%,"488,100","42,000",23.83,993.0,Ashgabat,"70,630",NaN,NaN,TMT,2.79,8.80%,$0.29

4. Muestra el nombre de todas las columnas en el conjunto de datos.

In [15]:
df.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price'],
      dtype='object')

5. Muestra los valores únicos en la columna "Abbreviation".

In [17]:
df["Abbreviation"].unique()

array(['AF', 'AL', 'DZ', 'AD', 'AO', 'AG', 'AR', 'AM', 'AU', 'AT', 'AZ',
       'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ', 'BT', 'BO', 'BA',
       'BW', 'BR', 'BN', 'BG', 'BF', 'BI', 'CI', 'CV', 'KH', 'CM', 'CA',
       'CF', 'TD', 'CL', 'CN', 'CO', 'KM', nan, 'CR', 'HR', 'CU', 'CY',
       'CZ', 'CD', 'DK', 'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER',
       'EE', 'ET', 'FJ', 'FI', 'FR', 'GA', 'GM', 'GE', 'DE', 'GH', 'GR',
       'GD', 'GT', 'GN', 'GW', 'GY', 'HT', 'HN', 'HU', 'IS', 'IN', 'ID',
       'IR', 'IQ', 'IL', 'IT', 'JM', 'JP', 'JO', 'KZ', 'KE', 'KI', 'KW',
       'KG', 'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LI', 'LT', 'LU', 'MG',
       'MW', 'MY', 'MV', 'ML', 'MT', 'MH', 'MR', 'MU', 'MX', 'FM', 'MD',
       'MC', 'MN', 'ME', 'MA', 'MZ', 'MM', 'NR', 'NP', 'NL', 'NZ', 'NI',
       'NE', 'NG', 'KP', 'NO', 'OM', 'PK', 'PW', 'PA', 'PG', 'PY', 'PE',
       'PH', 'PL', 'PT', 'QA', 'RO', 'RU', 'RW', 'KN', 'LC', 'VC', 'WS',
       'SM', 'ST', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'SK', 'SI', 'SB',
       'SO', 'ZA', 'KR', 'SS', 'ES', 'LK', 'SD', 'SR', 'SE', 'CH', 'SY',
       'TJ', 'TZ', 'TH', 'TL', 'TG', 'TO', 'TT', 'TN', 'TR', 'TM', 'TV',
       'UG', 'UA', 'AE', 'GB', 'US', 'UY', 'UZ', 'VU', 'VE', 'VN', 'YE',
       'ZM', 'ZW'], dtype=object)

## BONUS de exploración

1. Cuenta cuántas veces aparece cada valor único en la columna "Abbreviation".

In [18]:
df["Abbreviation"].value_counts()

AF    1
PY    1
NE    1
NG    1
KP    1
     ..
GR    1
GD    1
GT    1
GN    1
ZW    1
Name: Abbreviation, Length: 188, dtype: int64

2. Verifica si hay valores nulos en el conjunto de datos.

In [25]:
print(f"Numero de filas: {df.shape[0]}")

Numero de filas: 195

In [28]:
df.isnull().sum()/df.shape[0]*100

Country                   0.000000
Density\n(P/Km2)          0.000000
Abbreviation              3.589744
Agricultural Land( %)     3.589744
Land Area(Km2)            0.512821
Armed Forces size        12.307692
Birth Rate                3.076923
Calling Code              0.512821
Capital/Major City        1.538462
Co2-Emissions             3.589744
CPI                       8.717949
CPI Change (%)            8.205128
Currency-Code             7.692308
Fertility Rate            3.589744
Forested Area (%)         3.589744
Gasoline Price           10.256410
dtype: float64

In [23]:
df.isnull().sum()

Country                   0
Density\n(P/Km2)          0
Abbreviation              7
Agricultural Land( %)     7
Land Area(Km2)            1
Armed Forces size        24
Birth Rate                6
Calling Code              1
Capital/Major City        3
Co2-Emissions             7
CPI                      17
CPI Change (%)           16
Currency-Code            15
Fertility Rate            7
Forested Area (%)         7
Gasoline Price           20
dtype: int64

In [ ]:
# Total de celdas con valores nulos.
df.isnull().sum().sum()

138

3. Verifica si hay valores no nulos en el conjunto de datos.

In [29]:
df.notnull().sum()/df.shape[0]*100

Country                  100.000000
Density\n(P/Km2)         100.000000
Abbreviation              96.410256
Agricultural Land( %)     96.410256
Land Area(Km2)            99.487179
Armed Forces size         87.692308
Birth Rate                96.923077
Calling Code              99.487179
Capital/Major City        98.461538
Co2-Emissions             96.410256
CPI                       91.282051
CPI Change (%)            91.794872
Currency-Code             92.307692
Fertility Rate            96.410256
Forested Area (%)         96.410256
Gasoline Price            89.743590
dtype: float64

In [21]:
df.notnull().sum()

Country                  195
Density\n(P/Km2)         195
Abbreviation             188
Agricultural Land( %)    188
Land Area(Km2)           194
Armed Forces size        171
Birth Rate               189
Calling Code             194
Capital/Major City       192
Co2-Emissions            188
CPI                      178
CPI Change (%)           179
Currency-Code            180
Fertility Rate           188
Forested Area (%)        188
Gasoline Price           175
dtype: int64

In [26]:
df.notnull().sum().sum()

2982

4. Muestra información general sobre el conjunto de datos.

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 195 entries, 0 to 194
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                195 non-null    object
 1   Density
(P/Km2)        195 non-null    object
 2   Abbreviation           188 non-null    object
 3   Agricultural Land( %)  188 non-null    object
 4   Land Area(Km2)         194 non-null    object
 5   Birth Rate             189 non-null    float64
 6   Calling Code           194 non-null    float64
 7   Capital/Major City     192 non-null    object
 8   Co2-Emissions          188 non-null    object
 9   CPI                    178 non-null    object
 10  CPI Change (%)         179 non-null    object
 11  Currency-Code          180 non-null    object
 12  Fertility Rate         188 non-null    float64
 13  Forested Area (%)      188 non-null    object
 14  Gasoline Price         175 non-null    object
dtypes: float64(3), object(12)
memory usage: 24.4+ KB

5. Elimina una columna específica (por ejemplo, "Armed Forces size").

In [30]:
df.drop(columns=["Armed Forces size"], inplace=True)

In [35]:
df.shape[1]

15

In [34]:
df.head(1)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70

6. Selecciona las columnas numéricas del conjunto de datos y muestra sus estadísticas descriptivas básicas (para esto tendréis que usar el método '.describe(), su documentación la tenéis aquí).
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html

In [36]:
df.describe()

       Birth Rate  Calling Code  Fertility Rate
count  189.000000    194.000000      188.000000
mean    20.214974    360.546392        2.698138
std      9.945774    323.236419        1.282267
min      5.900000      1.000000        0.980000
25%     11.300000     82.500000        1.705000
50%     17.950000    255.500000        2.245000
75%     28.750000    506.750000        3.597500
max     46.080000   1876.000000        6.910000

---

## Ejercicios con loc e iloc

1. Selecciona todas las columnas de las filas 2 a 4 (inclusive) utilizando loc.

In [37]:
df.loc[2:5,:]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
2,Algeria,18,DZ,17.40%,"2,381,741",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
5,Antigua and Barbuda,223,AG,20.50%,443,15.33,1.0,"St. John's, Saint John",557,113.81,1.20%,XCD,1.99,22.30%,$0.99

2. Utilizando loc, filtra el conjunto de datos para mostrar solo las filas donde la densidad (columna "Birth Rate") es mayor a 30.

In [39]:
df.loc[df["Birth Rate"] > 30]

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
4,Angola,26,AO,47.50%,"1,246,700",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97
18,Benin,108,BJ,33.30%,"112,622",36.22,229.0,Porto-Novo,"6,476",110.71,-0.90%,XOF,4.84,37.80%,$0.72
26,Burkina Faso,76,BF,44.20%,"274,200",37.93,226.0,Ouagadougou,"3,418",106.58,-3.20%,XOF,5.19,19.30%,$0.98
27,Burundi,463,BI,79.20%,"27,830",39.01,257.0,Bujumbura,495,182.11,-0.70%,BIF,5.41,10.90%,$1.21
28,Ivory Coast,83,CI,64.80%,"322,463",35.74,225.0,Yamoussoukro,"9,674",111.61,-0.90%,XOF,4.65,32.70%,$0.93
31,Cameroon,56,CM,20.60%,"475,440",35.39,237.0,Yaound�,"8,291",118.65,2.50%,XAF,4.57,39.30%,$1.03
33,Central African Republic,8,CF,8.20%,"622,984",35.35,236.0,Bangui,297,186.86,37.10%,NaN,4.72,35.60%,$1.41
34,Chad,13,TD,39.70%,"1,284,000",42.17,235.0,N'Djamena,"1,016",117.7,-1.00%,XAF,5.75,3.80%,$0.78
38,Comoros,467,KM,71.50%,"2,235",31.88,269.0,"Moroni, Comoros",202,103.62,-4.30%,KMF,4.21,19.70%,NaN
39,Republic of the Congo,16,NaN,31.10%,"342,000",32.86,242.0,Brazzaville,"3,282",124.74,2.20%,XAF,4.43,65.40%,$0.97
45,Democratic Republic of the Congo,40,CD,11.60%,"2,344,858",41.18,243.0,Kinshasa,"2,021",133.85,2.90%,CDF,5.92,67.20%,$1.49
53,Equatorial Guinea,50,GQ,10.10%,"28,051",33.24,240.0,Malabo,"5,655",124.35,1.20%,XAF,4.51,55.50%,NaN
54,Eritrea,35,ER,75.20%,"117,600",30.30,291.0,Asmara,711,NaN,NaN,ERN,4.06,14.90%,$2.00
57,Ethiopia,115,ET,36.30%,"1,104,300",32.34,251.0,Addis Ababa,"14,870",143.86,15.80%,ETB,4.25,12.50%,$0.75
61,Gabon,9,GA,20.00%,"267,667",31.61,241.0,Libreville,"5,321",122.19,2.10%,XAF,3.97,90.00%,$0.92
62,The Gambia,239,GM,59.80%,"11,300",38.54,220.0,Banjul,532,172.73,7.10%,GMD,5.22,48.40%,$1.18
69,Guinea,53,GN,59.00%,"245,857",36.36,224.0,Conakry,"2,996",262.95,9.50%,GNF,4.70,25.80%,$0.90
70,Guinea-Bissau,70,GW,58.00%,"36,125",35.13,245.0,Bissau,293,111.65,1.40%,XOF,4.48,69.80%,NaN
96,Liberia,53,LR,28.00%,"111,369",33.04,231.0,Monrovia,"1,386",223.13,23.60%,NaN,4.32,43.10%,$0.80
101,Madagascar,48,MG,71.20%,"587,041",32.66,261.0,Antananarivo,"3,905",184.33,5.60%,MGA,4.08,21.40%,$1.11
102,Malawi,203,MW,61.40%,"118,484",34.12,265.0,Lilongwe,"1,298",418.34,9.40%,MWK,4.21,33.20%,$1.15
105,Mali,17,ML,33.80%,"1,240,192",41.54,223.0,Bamako,"3,179",108.73,-1.70%,XOF,5.88,3.80%,$1.12
108,Mauritania,5,MR,38.50%,"1,030,700",33.69,222.0,Nouakchott,"2,739",135.02,2.30%,MRU,4.56,0.20%,$1.13
117,Mozambique,40,MZ,63.50%,"799,380",37.52,258.0,Maputo,"7,943",182.31,2.80%,MZN,4.85,48.00%,$0.65
125,Niger,19,NE,36.10%,"1,267,000",46.08,227.0,Niamey,"2,017",109.32,-2.50%,XOF,6.91,0.90%,$0.88
126,Nigeria,226,NG,77.70%,"923,768",37.91,234.0,Abuja,"120,369",267.51,11.40%,NGN,5.39,7.20%,$0.46
144,Rwanda,525,RW,73.40%,"26,338",31.70,250.0,Kigali,"1,115",151.09,3.40%,RWF,4.04,19.70%,$1.17
150,S�����������,228,ST,50.70%,964,31.54,239.0,S����,121,185.09,7.90%,STN,4.32,55.80%,NaN
152,Senegal,87,SN,46.10%,"196,722",34.52,221.0,Dakar,"10,902",109.25,1.80%,XOF,4.63,42.80%,$1.14
155,Sierra Leone,111,SL,54.70%,"71,740",33.41,232.0,Freetown,"1,093",234.16,14.80%,SLL,4.26,43.10%,$1.08
159,Solomon Islands,25,SB,3.90%,"28,896",32.44,677.0,Honiara,169,133.06,1.60%,SBD,4.40,77.90%,NaN
160,Somalia,25,SO,70.30%,"637,657",41.75,252.0,Mogadishu,645,NaN,NaN,SOS,6.07,10.00%,$1.41
163,South Sudan,18,SS,NaN,"644,329",35.01,211.0,Juba,"1,727","4,583.71",187.90%,SSP,4.70,NaN,$0.28
166,Sudan,25,SD,28.70%,"1,861,484",32.18,249.0,Khartoum,"20,000","1,344.19",51.00%,SDG,4.41,8.10%,$0.95
171,Tajikistan,68,TJ,34.10%,"144,100",30.76,992.0,Dushanbe,"5,310",148.57,6.00%,TJS,3.59,3.00%,$0.71
172,Tanzania,67,TZ,44.80%,"947,300",36.70,255.0,Dodoma,"11,973",187.43,3.50%,TZS,4.89,51.60%,$0.87
175,Togo,152,TG,70.20%,"56,785",33.11,228.0,Lom�,"3,000",113.3,0.70%,XOF,4.32,3.10%,$0.71
182,Uganda,229,UG,71.90%,"241,038",38.14,256.0,Kampala,"5,680",173.87,2.90%,UGX,4.96,9.70%,$0.94
192,Yemen,56,YE,44.60%,"527,968",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92
193,Zambia,25,ZM,32.10%,"752,618",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40
194,Zimbabwe,38,ZW,41.90%,"390,757",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34

3. Utilizando loc selecciona las columnas "Country" y "Capital/Major City" de las filas donde el porcentaje de tierra agrícola (columna "Fertility Rate") es superior al 3.

4. Selecciona todas las filas de las columnas 0 a 4 (excluyendo la columna 4) utilizando iloc.

5. Encuentra el valor en la fila 2 y columna 7 utilizando iloc.

6. Selecciona todas las filas para las columnas 0, 2, y 5 utilizando iloc.

---

## BONUS DE LOC Y ILOC

1. Encuentra el valor de "Gasoline Price" para el país cuya abreviatura es "AL" utilizando loc.

2. Selecciona todas las columnas para el país cuya capital es "Tirana" utilizando loc.

3. Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI (columna "CPI") sea igual a 128.85.

4. Encuentra la densidad (columna "Density\n(P/Km2)") para el país cuya abreviatura es "AD" utilizando loc.

5. Selecciona las columnas "Country" y "Co2-Emissions".

6. Filtra el conjunto de datos para mostrar solo las filas donde el índice de CPI cambió un 2% (columna "CPI Change (%)").

7. Encuentra la tasa de natalidad (columna "Birth Rate") para el país con la abreviatura "AF" utilizando loc.

8. Selecciona todas las columnas de las filas 3 a 5 (excluyendo la fila 5) utilizando iloc.

9. Selecciona las columnas 1, 3 y 6 para todas las filas utilizando iloc.